{% extends '::base.html.twig' %}

{% block body %}


    <div class="row">
        <div class="col-md-4">

            <h3>Register someone's exit</h3>

            {{ form(form) }}
        </div>
    </div>
{% endblock %}